#stretch {
  width: 100%;
  top: 0;
  left: 0;
}
#intro {
	padding-top: 100px;
	opacity: 1;
}

.interactionsShell{
    width: 100%;
    padding-top: 30%;
    padding-bottom: 30%;

}

.interactionsPhotos{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.interactionquotes{
    width: 50%;
    font-family: "Lato";
    font-weight: 200;
    margin: 0 auto;
}

.headshot{
	display: inline-block;
	max-width: 170px;
	width: 100%;
    border: solid 3px transparent;
    padding: 5px;
}

.headshot:hover {
    border-color: black;
}

.paragraph {
	max-width: 516px;
	padding-left: 20%;
	font-family: "Droid+Serif";
    font-weight: 400;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 12px;
    font-size: 1rem;
    line-height: 1.5rem
    font-weight: 400;
    font-style: normal;
    color: #333;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0 0 1em 0;
}

.paraheader{
    padding-left: 20%;
    font-family: "Bevan";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    max-width: 516px;
    margin-bottom: 11px;
    color: #000;
}

.sectionheader{
    font-family: "Bevan";
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-size: 2.5rem;
    line-height: 28px;
    line-height: 1.75rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin: 0 auto;
    margin-bottom: 42px;

}