/*TopNav*/

/* Add a background color to the top navigation */
#myTopnav{
    position: fixed
    top:0;
}

.topnav {
    background-color: #B36AE2;
    overflow: hidden;
    right: 6px;
    width: 100vw;
    font-family: "Cormorant";
    font-weight: 700;
    text-transform: uppercase;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    z-index: 700000;

}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgba(255, 255, 255, .4);
    color: #B36AE2;
}

/* Add a color to the active/current link */
.topnav a.activeNav {
    background-color: rgba(255, 255, 255, .7);
    color: #B36AE2;
}

/*FAQ page*/

.faqHeader{
    padding: 60px 0px 0px 45px;
    text-align: center;
}

.faqTitle{
    font-family: "Cormorant";
    font-size: 3.4em;
    font-weight: 700;
    font-style: italic;
    color: #333;
}

.faqSubTitle{
    width: 40vw;
    color: #333;
    font-family: "Droid+Serif";
    line-height: 1.3em;
    font-size: 1,2px;
    margin: 0 auto;
}

ul, menu, dir {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.faqUnit{
    border: 1px solid rgba(169, 169, 169, .6);
    width: 85vw;
    margin: 0 0 6px;
}

.cd-faq-trigger{
    font-size: 24px;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: "Lato";
    margin: 0;
    padding: 24px 72px 24px 24px;
    position: relative;
    display: block;
    line-height: 1.2;
    color: #B36AE2;
    text-decoration: none;
    box-sizing: border-box;
    cursor: auto;
}

.cd-faq-content{
    font-family: "Lato";
    padding: 0 24px 30px;
    line-height: 1.43em;
    font-weight: 300;
    color: #4e5359;
    display: none;
}

.cd-faq-trigger::before, .cd-faq-trigger::after {
    /* arrow icon on the right */
    position: absolute;
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: #cfdca0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .cd-faq-trigger::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 32px;
  }
  .cd-faq-trigger::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .content-visible .cd-faq-trigger::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.aboutP{
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    font-size: .9em;
    font-family: "Lato";
    line-height: 1.5em;
    font-weight: 400;
    color: #333;
}

/*Below this is pre-topNav css*/

.quoteBankVertical{
    pointer-events: none;
    position: fixed;
    top: 19vh;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
}

.quoteVertical{
    font-family: 'Cormorant', serif;
    width: 35vw;
    margin: 0 auto;
    color: #B36AE2;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.8rem;
    font-style: italic;
    top: 41vh;
}

.quoteVerticalQuad{
    font-family: 'Cormorant', serif;
    width: 35vw;
    margin: 0 auto;
    color: #B36AE2;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.5rem;
    font-style: italic;
    top: 41vh;
}

.babies{
    z-index: 100005
}

.headshotThankYou{
    width: 17vw;
    padding: 0px 11vw;
}

.quoteThankYou{
    width: 32vw;
    padding: 0px 3.4vw;
}

.paraHeaderThanks{
    text-align: center;
    font-family: 'Cormorant', serif;
    color: #000;
    font-weight: 700;
    font-size: 3.2rem;
    margin: 0px auto;
}

.paraThanks{
    font-family: "Lato";
    width: 56vw;
    text-align: center;
}

body, figure {
    margin: 0px;
}

p {
    width: 500px;
    font-family: "Droid+Serif";
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: #333;
    display: block;
    margin:auto;
}

.leftP{
    margin-left: 9%;
    top: 241px;
    font-size: 1.12em;
}

.stuck{
    position:fixed;
    top:0;
    left:0;
    right:0;
}

#stretch {
  width: 100%;
  top:0;
  left: 0;
}

.wrapper{
    width: 100%;
}

.sticky-surpassed{
    position: absolute;
    bottom: 0;
}

.photoBank {
    text-align: center;
    pointer-events: none;
    opacity: 0;
}

#statusQuoPhotos{
    text-align: center;
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
}

.quoteBank{
    text-align: center;
}

.quote{
    display: inline-block;
    font-family: "Lato";
    font-weight: 100;
    font-style: italic;
    font-size: 1em;
    line-height: 22px;
    text-align: center;
    vertical-align: top;
}

.quoteQuestion{
    max-width: 26%;
    padding: 0% 2%;
    display: inline-block;
    font-family: "Lato";
    font-weight: 400;
    font-style: italic;
    font-size: 1.3em;
    line-height: 27px;
    text-align: center;
    vertical-align: top;
}

.quoteInteractions{
    max-width: 14%;
    padding: 0% 1%;
}

.headshot{
    display: inline-block;
    cursor: pointer;
}
.headshotQuestion{
    max-width: 19%;
    width: 100%;
    padding: 0% 5.5%;
}

.headshotInteractions{
    max-width: 14%;
    width: 100%;
    padding: 0% 1%;
}

.headshotStatusQuo{
    max-width: 32vw;
    width: 100%;
    padding: 0px 3.5vw;
}

.headshotReaction1a{
    max-width: 36%;
    width: 100%;
    padding: 0px 6%;
}

.headshotReaction1b{
    max-width: 36%;
    width: 100%;
    padding: 0px 6%;
}

.headshotReaction2{
    max-width: 28%;
    width: 100%;
    padding: 0px 2%;
}

.headshotReaction3{
    max-width: 29%;
    width: 100%;
    padding: 0px 6%;
}

.bg{
    width: 31%;
    opacity: .17;
    position: absolute;
    bottom: 0%;
}

.paraHeader{
    font-family: "Bevan";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    width: 500px;
    margin: 0px auto 20px;
    color: #000;
}

.paraSubHeader{
    font-family: "Bevan";
    font-size: .9em;
    line-height: 1.7em;
}

.right{
        margin: 0% 0% 0% 50%;
}

.left{
    margin: 0% 50% 0% 2.5%;
}

.sectionheader{
    font-family: "Bevan";
    max-width: 950px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin: 0 auto;
    margin-bottom: 42px;
}


.startOpacity0{
    opacity: 0;
}

.startOpacity_3{
    opacity: .3;
}