#stretch {
  width: 100%;
  top: 0;
  left: 0;
}
#intro1 {
	padding-top: 100px;
	opacity: 1;
}

.headshotStatusQuo{
    display: inline-block;
    opacity: .3;
    max-width: 170px;
    width: 100%;
    border: solid 3px transparent;
    padding: 23px;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.2s ease-out; 
}

.headshotStatusQuo:hover {
    opacity: 1;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.2s ease-out;  
}

.paraheader{
    padding-left: 20%;
    font-family: "Bevan";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    max-width: 516px;
    margin-bottom: 20px;
    color: #000;
}

.paragraph {
	max-width: 700px;
	padding-left: 20%;
	font-family: "Droid+Serif";
    font-weight: 400;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 12px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: #333;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0 0 1em 0;
}

.sectionheader{
    font-family: "Bevan";
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-size: 2.5rem;
    line-height: 28px;
    line-height: 1.75rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin: 0 auto;
    margin-bottom: 42px;
}

#statusQuoPhotos {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 200px;
}

.interactionsShell{
    width: 100%;
    padding-top: 30%;
    padding-bottom: 30%;
}

#interactionsPhotos{
    text-align: center;
    padding-bottom: 20px;
}

.interactionsQuotes{
    width: 50%;
    padding-top: 65px;
    font-family: "Lato";
    font-weight: 100;
    margin: 0 auto;
    font-style: italic;
    font-size: 2em;
    line-height: 41px;
}

.headshot{
    display: inline-block;
    max-width: 155px;
    width: 100%;
    border: solid 3px transparent;
    padding: 6px;
}

.headshot:hover {
    border-color: black;
}