#stretch {
  width: 100%;
  top: 0;
  left: 0;
}

#intro1 {
    /*position: relative;*/
}

#intro1inner {
    position:relative;
}

.preActivateIntro1 {
    position: absolute;
    top: 90px;
}

.activateIntro1{
    position: fixed;
    top: 90px;
}

.postActivateIntro1 {
    position: absolute;
    top: auto;
    bottom: 0px;
}

#intro1b {
    opacity: 0;
    /*position: absolute;*/
    margin: 0px auto;
    max-width: 956px;
    margin-left: -478px;
    left: 50%;
    top: 400px;
}

#intro3 {
    padding: 300px 0px;
    opacity: 1;
}

.headshotStatusQuo{
    display: inline-block;
    pointer-events: none;
    max-width: 170px;
    width: 100%;
    padding: 0px 23px;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.2s ease-out; 
}

.photoBank:hover .headshotStatusQuo {
    opacity: .3;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.2s ease-out;  
}
.photoBank .headshotStatusQuo:hover {
    opacity: 1;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.2s ease-out;  
}

.paraheader{
    font-family: "Bevan";
    font-style: normal;
    box-sizing: content-box;
    font-weight: 700;
    padding-left: 20%;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    max-width: 516px;
    margin-bottom: 20px;
    color: #000;
}

.paragraph {
	box-sizing: content-box;
    max-width: 700px;
	padding-left: 20%;
	font-family: "Droid+Serif";
    font-weight: 400;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 12px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: #333;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0 0 1em 0;
}

.sectionheader{
    font-family: "Bevan";
    max-width: 950px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin: 0 auto;
    margin-bottom: 42px;
}

#statusQuoPhotos {
    text-align: center;
    padding-top: 60px;
}

.photoBankShell{
    width: 100%;
    padding-top: 30%;
    padding-bottom: 30%;
}

.headshotQuestion{
    display: inline-block;
    max-width: 155px;
    width: 100%;
    padding: 6px;
    padding: 0px 48px;
}

#interactionsPhotos{
    text-align: center;
}

.interactionsQuotes{
    max-width: 155px;
    padding: 0px 14px;
    font-family: "Lato";
    font-weight: 100;
    margin: 0 auto;
    font-style: italic;
    font-size: 1em;
    line-height: 22px;
    text-align: justify;
    visibility: hidden;
}

.headshotInteractions{
    display: inline-block;
    visibility: visible;
    opacity: .3;
    max-width: 155px;
    width: 100%;
    border: solid 3px transparent;
    padding: 6px;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.6s ease-out; 
}

.headshotInteractions_W {
    visibility: hidden;
    display: inline-block;
    opacity: .3;
    max-width: 155px;
    width: 100%;
    border: solid 3px transparent;
    padding: 6px;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.6s ease-out; 
}

.headshotInteractions:hover {
    opacity: 1;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.2s ease-out;  
}