body, figure {
    margin: 0px;
}


#stretch {
  width: 100%;
  top: 0;
  left: 0;
}

#intro1inner {
    position:relative;
}

.stuck{
    position:fixed;
    top:0;
    left:0;
    right:0;
}

/*.postActivateIntro1 {
    position: absolute;
    top: auto;
    bottom: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
}*/

#intro1b {
    opacity: 0;
}

#intro3 {
    padding: 300px 0px;
    opacity: 1;
}

.headshotStatusQuo{
    cursor: pointer;
    display: inline-block;
    pointer-events: none;
    max-width: 190px;
    width: 100%;
    padding: 0px 10px;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.2s ease-out; 
}

.photoBank:hover .headshotStatusQuo {
    opacity: .3;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.2s ease-out;  
}
.photoBank .headshotStatusQuo:hover {
    opacity: 1;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.2s ease-out;  
}

.paraheader{
    font-family: "Bevan";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    width: 500px;
    margin: 0px auto 20px;
    color: #000;
}

p {
    width: 500px;
	font-family: "Droid+Serif";
    font-weight: 400;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: #333;
    display: block;
    margin:auto;
}

.sectionheader{
    font-family: "Bevan";
    max-width: 950px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin: 0 auto;
    margin-bottom: 42px;
}

#statusQuoPhotos {
    text-align: center;
    padding-top: 20px;
}

.photoBankShell{
    width: 100%;
    padding-top: 30%;
    padding-bottom: 30%;
}

.headshotQuestion{
    display: inline-block;
    max-width: 155px;
    width: 100%;
    padding: 6px;
    padding: 0px 48px;
}

#interactionsPhotos{
    text-align: center;
}

.interactionsQuotes{
    max-width: 155px;
    padding: 0px 14px;
    font-family: "Lato";
    font-weight: 100;
    margin: 0 auto;
    font-style: italic;
    font-size: 1em;
    line-height: 22px;
    text-align: justify;
    visibility: hidden;
}

.headshotInteractions{
    display: inline-block;
    visibility: visible;
    opacity: .3;
    max-width: 155px;
    width: 100%;
    border: solid 3px transparent;
    padding: 6px;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.6s ease-out; 
}

.headshotInteractions_W {
    visibility: hidden;
    display: inline-block;
    opacity: .3;
    max-width: 155px;
    width: 100%;
    border: solid 3px transparent;
    padding: 6px;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.6s ease-out; 
}

.headshotInteractions:hover {
    opacity: 1;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.2s ease-out;  
}