.quoteBankVertical{
    pointer-events: none;
    position: fixed;
    top: 19vh;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
}

.quoteVertical{
    font-family: 'Cormorant', serif;
    width: 35vw;
    margin: 0 auto;
    color: #B36AE2;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.8rem;
    font-style: italic;
    top: 41vh;
}

.quoteVerticalQuad{
    font-family: 'Cormorant', serif;
    width: 35vw;
    margin: 0 auto;
    color: #B36AE2;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.5rem;
    font-style: italic;
    top: 41vh;
}

.babies{
    z-index: 100005
}

.headshotThankYou{
    width: 17vw;
    padding: 0px 11vw;
}

.quoteThankYou{
    width: 32vw;
    padding: 0px 3.4vw;
}

.paraHeaderThanks{
    text-align: center;
    font-family: 'Cormorant', serif;
    color: #000;
    font-weight: 700;
    font-size: 3.2rem;
    margin: 0px auto;
}

.paraThanks{
    font-family: "Lato";
    width: 56vw;
    text-align: center;
}

body, figure {
    margin: 0px;
}

p {
    width: 500px;
    font-family: "Droid+Serif";
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: #333;
    display: block;
    margin:auto;
}

.leftP{
    margin-left: 9%;
    top: 241px;
    font-size: 1.12em;
}

.stuck{
    position:fixed;
    top:0;
    left:0;
    right:0;
}

#stretch {
  width: 100%;
  top: 0;
  left: 0;
}

.wrapper{
    width: 100%;
}

.sticky-surpassed{
    position: absolute;
    bottom: 0;
}

#intro1{
    position: relative;
}

.photoBank {
    text-align: center;
    pointer-events: none;
    opacity: 0;
}

.quoteBank{
    text-align: center;
}

.quote{
    display: inline-block;
    font-family: "Lato";
    font-weight: 100;
    font-style: italic;
    font-size: 1em;
    line-height: 22px;
    text-align: center;
    vertical-align: top;
}

.quoteQuestion{
    max-width: 26%;
    padding: 0% 2%;
    display: inline-block;
    font-family: "Lato";
    font-weight: 300;
    font-style: italic;
    font-size: 1.3em;
    line-height: 27px;
    text-align: center;
    vertical-align: top;
}
}

.quoteInteractions{
    max-width: 14%;
    padding: 0% 1%;
}

.headshot{
    display: inline-block;
    cursor: pointer;
}
.headshotQuestion{
    max-width: 19%;
    width: 100%;
    padding: 0% 5.5%;
}

.headshotInteractions{
    max-width: 14%;
    width: 100%;
    padding: 0% 1%;
}

.headshotStatusQuo{
    max-width: 190px;
    width: 100%;
    padding: 0px 10px;
}

.headshotReaction1a{
    max-width: 36%;
    width: 100%;
    padding: 0px 6%;
}

.headshotReaction1b{
    max-width: 36%;
    width: 100%;
    padding: 0px 6%;
}

.headshotReaction2{
    max-width: 28%;
    width: 100%;
    padding: 0px 2%;
}

.headshotReaction3{
    max-width: 29%;
    width: 100%;
    padding: 0px 6%;
}

.bg{
    width: 31%;
    opacity: .17;
    position: absolute;
    bottom: 0%;
}

.paraHeader{
    font-family: "Bevan";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    line-height: 1.75rem;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    width: 500px;
    margin: 0px auto 20px;
    color: #000;
}

.paraSubHeader{
    font-family: "Bevan";
    font-size: .9em;
    line-height: 1.7em;
}

.right{
        margin: 0% 0% 0% 50%;
}

.left{
    margin: 0% 50% 0% 2.5%;
}

.sectionheader{
    font-family: "Bevan";
    max-width: 950px;
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin: 0 auto;
    margin-bottom: 42px;
}

#alert1{
    right: 6%;
    top: 200px;
}

#indexButton{
    font-family: "Bevan";
    cursor: pointer;
    font-size: 13px;
    color: #65328f;
    text-align: center;
    background-color: #d5b2f4;
    border-radius: 7px;
    width: 176px;
    height: 32px;
    vertical-align: middle;
    line-height: 34px;
}

.startOpacity0{
    opacity: 0;
}

.startOpacity_3{
    opacity: .3;
}

/*.photoBankShell{
    width: 100%;
    padding-top: 30%;
    padding-bottom: 30%;
}*/

/*.interactionsQuotes{
    max-width: 155px;
    padding: 0px 14px;
    font-family: "Lato";
    font-weight: 100;
    margin: 0 auto;
    font-style: italic;
    font-size: 1em;
    line-height: 22px;
    text-align: justify;
    visibility: hidden;
}*/

/*.headshotInteractions{
    display: inline-block;
    visibility: visible;
    opacity: .3;
    max-width: 155px;
    width: 100%;
    border: solid 3px transparent;
    padding: 6px;
    transition: all 0.6s ease-out; 
}

.headshotInteractions_W {
    visibility: hidden;
    display: inline-block;
    opacity: .3;
    max-width: 155px;
    width: 100%;
    border: solid 3px transparent;
    padding: 6px;
    transition: all 0.6s ease-out; 
}*/

/*.headshotInteractions:hover {
    opacity: 1;
    transition: all 0.2s ease-out;  
}*/

/*border all - took wrapper off 5b*/
/** { border: 1px solid black; }*/